body {
  background-color: #f15025;
}

.button {
  position: fixed; /*realtive to the body not the parent */
  left: 50%;
  top: 50%;
  height: 20%;
  width: 20%;
  -ms-transform: translate(-50%, -50%); /* actually centres content */
  transform: translate(-50%, -50%);
  font-family: 'Rowdies', cursive;
  font-size: 100%;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: #3dafe0;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

img {
  position: fixed;
  left: 50%;
  top: 80%;
  -ms-transform: translate(-50%, -50%); /* actually centres content */
  transform: translate(-50%, -50%);

  height: 200px;
  width: 400px;
}
/* instead make div postion fixed move that to the centre and the place content in centre raltive to that so that button remains in the div */
